@model WcaDbApi.Models.ImportedFiles


<p><a href="http://www.worldcubeassociation.org">https://www.worldcubeassociation.org</a> is the source and owner of all information who is publish throu this API. 
<br />
The information can be delayd and differ from the official <a href="http://www.worldcubeassociation.org/results">WCA Results</a>

<br />
Latest update: @Html.DisplayFor(m => m.WcaFileName) 
</p>

<p>
    <small><a href="http://www.github.com/dahermansson">dahermansson@github.com</a> - <a href="https://github.com/dahermansson/WcaDbApi">WcaDbApi at Github</a></small>
</p>